{% extends 'base.html' %}

{% block title %}
Category List
{% endblock title %}

{% block content %}

<main>
    <h1>Category List</h1>

    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in category_list %}
            <tr>
                <td>
                    {{ subject.name }}
                </td>
                <td>{{ subject.receipts.count }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</main>

{% endblock content %}
