{% extends 'base.html' %}

{% block title %}
Receipt Home
{% endblock title %}

{% block content %}

    <main>
        <h1>My Receipts</h1>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Vendor</th>
                        <th scope="col">Total</th>
                        <th scope="col">Tax</th>
                        <th scope="col">Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in receipt_list_object %}
                    <tr>
                        <td>{{ subject.vendor }}</td>
                        <td>{{ subject.total }}</td>
                        <td>{{ subject.tax }}</td>
                        <td>{{ subject.date|date:"m/d/y" }}</td>
                        <td>{{ subject.category.name }}</td>
                        <td> {{ subject.account.name }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

    </main>

    {% endblock content %}
